In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

21/08/15 19:09:29 WARN Utils: Your hostname, pop-os resolves to a loopback address: 127.0.1.1; using 192.168.86.23 instead (on interface wlo1)
21/08/15 19:09:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/minh14/.local/share/virtualenvs/pyspark_tutorial-oYNQGGAD/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/08/15 19:09:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
df_pyspark = spark.read.csv('data/test3.csv', header=True, inferSchema=True)

In [5]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|        null|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  null|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|        null|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  null|
+---------+------------+------+

## Drop col

In [6]:
df_pyspark.drop('Name').show()

+------------+------+
| Departments|salary|
+------------+------+
|Data Science| 10000|
|        null|  5000|
|    Big Data|  4000|
|    Big Data|  null|
|Data Science|  3000|
|Data Science| 20000|
|         IOT| 10000|
|        null|  5000|
|Data Science| 10000|
|    Big Data|  null|
+------------+------+

## Drop NA

In [7]:
df_pyspark.na.drop().show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|   Mahesh|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|    Sunny|Data Science| 10000|
+---------+------------+------+

In [9]:
### if how == all means only drop row that has all null 
# thresh means if there is at least 2 non null value don't drop those
df_pyspark.na.drop(how='all', thresh=2).show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|        null|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  null|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|        null|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  null|
+---------+------------+------+

In [11]:
## Subset
# Drop all row which have a null value in Experience col
df_pyspark.na.drop(how='any', subset=['salary']).show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|        null|  5000|
|   Mahesh|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|        null|  5000|
|    Sunny|Data Science| 10000|
+---------+------------+------+

In [13]:
# Filling the missing value
df_pyspark.na.fill('Missing Values', ['salary']).show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|        null|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  null|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|        null|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  null|
+---------+------------+------+

In [21]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['salary'], 
    outputCols=["{}_imputed".format(c) for c in ['salary']]
    ).setStrategy("median")

In [22]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+------------+------+--------------+
|     Name| Departments|salary|salary_imputed|
+---------+------------+------+--------------+
|    Krish|Data Science| 10000|         10000|
|    Krish|        null|  5000|          5000|
|   Mahesh|    Big Data|  4000|          4000|
|    Krish|    Big Data|  null|          5000|
|   Mahesh|Data Science|  3000|          3000|
|Sudhanshu|Data Science| 20000|         20000|
|Sudhanshu|         IOT| 10000|         10000|
|Sudhanshu|        null|  5000|          5000|
|    Sunny|Data Science| 10000|         10000|
|    Sunny|    Big Data|  null|          5000|
+---------+------------+------+--------------+